/* the reset selector */
*{
	margin: 0;
	padding: 0;
}
/* the styles for the elements */
html {
    background-color: #0772A1;
    
}
body {
    width: 100%;
}
main {
    font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
    width: 1000px;
    clear: left;
    margin: 0 auto;
    border: 3px solid black;
}
/*the styles for the header*/
header {
    font-family: 'Ultra', serif;
    font-size: 150%;
    background-color: #63AFD0;
    padding-top: 0.5em;
    padding-bottom: 2em;
    text-align: center;
    padding-right: 150px;
}
header div {
    float: left;
}
/*the styles for the nav*/
.topnav {
    background-color: #333;
    overflow: hidden;
    text-align: center;
    position:absolute;
    left:50%;
    margin-left:-375px;
    width:750px;
    list-style:none;
  }
  .topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
/*the styles for the main*/
section {
   text-align: center;
   background-color: white;
}
ul {
        list-style-position: inside;
}
body h1 {
    text-align: left;
    padding-left: 5px;
}
div {
  text-align: center;
}
h2 {
  text-align: center;
  font-style: bold;
}
/* the styles for the footer */
footer {
	background-color: #63AFD0;
	clear: both;
}
footer p {
	text-align: center;
	color: white;
	padding: 1em 0em;
}
